<table>
  <tr>
    <td><%= button_to 'Click for a Funny', home_random_joke_path, method: :get %></td>
    <td><%= button_to 'Pearl of Wisdom', home_random_quote_path, method: :get %></td>
  </tr>
</table>